$primaryColor: #A42036;
// $themeMoodColor: #234;
// $themeMoodLight50Color: #747f8a;

$navbarHeight: 120px;
$topMenuHeight: 50px;

$socialIconSize: 32px;

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// Fonts
$defaultFont: 'TildaSans', Arial, sans-serif;
$defaultFontSize: 16px;

// Adaptive layouts...
$smallTreshold: 660px;
$mobileTreshold: 980px;
$wideTreshold: 1200px;

// Blocks
$blockNavHeader: '.t821';
