@use '../variables' as *;

#allrecords .uc-NavHeader {
  @include activeLink;
  .tmenu-mobile__burgerlogo,
  .t228__imgwrapper {
    margin-bottom: 8px;
  }
  .t228__maincontainer {
    border-bottom: 2px solid $NavHeaderBorderColor;
    height: $NavHeaderHeight;
  }
  .tmenu-mobile {
    background-color: transparent;
    transition: background var(--animationTimeMs);
  }
  .tmenu-mobile__container {
    border-bottom: 2px solid $NavHeaderBorderColor;
  }
  .t228.tmenu-mobile__menucontent_fixed {
    // background-color: rgba(255 255 255 / 70%) !important;
  }
  // Dynamic (scroll-based) background...
  .tmenu-mobile__container,
  .t228__maincontainer {
    transition: background 2s; // var(--disappearTimeMs);
    background-color: transparent;
  }
  &.scrolled {
    .tmenu-mobile__container,
    .t228__maincontainer {
      background-color: rgba(255 255 255 / 80%);
    }
  }
  .tmenu-mobile_opened {
    background-color: #fff;
  }
  .t228__centercontainer {
    padding-bottom: 0;
  }
  // Disable default paddings...
  &,
  .t228 {
    padding: 0 !important;
    /* // NOTE: Position it topmost if we have a hero section below
     * height: $NavHeaderTotalHeight;
     */
  }
  // Wide screen: 'floated' menu panel
  @media (width > $wideTreshold) {
    .t228__maincontainer {
      border-radius: 10px;
      border: 2px solid $NavHeaderBorderColor;
      margin-top: $NavHeaderVMargin;
      margin-bottom: $NavHeaderVMargin;
    }
  }
}
