@use '../variables' as *;

#allrecords .uc-MethodsGal {
  background-color: transparent !important;
  .CarouselWrapper {
    padding: 0 20px;
    // overflow: hidden;
  }
  .Carousel {
    .owl-stage {
      display: flex;
      align-items: stretch;
    }
    .owl-item {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      // max-width: 300px; // To limit the width: but the positioning will be uncentered then.
    }
    .t-item {
      overflow: hidden;
      margin: 0 !important;
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: none;
      position: relative;
    }
    // Text block
    .t508__textwrapper {
      border-radius: 10px;
      background-color: var(--primaryColor);
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      > * {
        margin: 5px 20px;
      }
    }
    .t-cell {
      display: block;
      // Image cell...
      &:first-child {
        display: none;
      }
    }
    // Texts...
    .t-name {
      position: relative;
      line-height: 1.2;
      font-weight: normal;
      margin-bottom: 20px;
      font-family: var(--defaultFont);
      // Floating element...
      u {
        font-family: var(--titleFont);
        line-height: 1;
        display: block;
        width: fit-content;
        text-decoration: none;
        margin-bottom: 15px;
      }
    }
    // Font sizes...
    .t-name {
      font-size: 24px;
      u {
        font-size: 36px;
      }
      // $wideTreshold: 1200px;
      @media (width <= $wideTreshold) {
        font-size: 20px;
        u {
          font-size: 30px;
        }
      }
    }
    .t-descr {
      font-size: 24px;
      line-height: 1.2;
    }
    // Carousel navigation
    .owl-dots {
      margin-top: 40px;
      .owl-dot {
        $size: 15px;
        span {
          background-color: var(--primaryColor);
          width: $size;
          height: $size;
          transition: all var(--transitionTimeMs);
        }
        &.active {
          span {
            width: 60px;
          }
        }
      }
    }
  }
}
